<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Share Folder</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex flex-col min-h-screen bg-background">
    <%- include("partials/header") %>
    <main
      class="flex-1 container max-w-7xl mx-auto p-4 flex justify-center items-center"
    >
      <div class="max-w-4xl mx-auto p-4">
        <h1 class="text-3xl font-bold mb-6 text-accent text-center">
          <%= folder.name %>
        </h1>

        <div class="space-y-3">
          <% files.forEach(file => { %>
          <div
            class="p-4 bg-secondary/20 border border-secondary/30 rounded-md shadow hover:bg-secondary/30 transition"
          >
            <a
              href="<%= file.path %>"
              class="text-text font-medium hover:underline"
            >
              <%= file.name %>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
